<html>
<head>
  <title>tmpnb</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>

  <div class="jumbotron">
    <div class="container text-center">
      <h1>Oh snap!</h1>
      <p>
        It looks like we're full up. Every single container is in use right now! Try again later
        and maybe you'll have better luck. Sorry for the inconvenience!
      </p>
    </div>
  </div>

  <script type="text/javascript">
    // Try again in a minute.
    setTimeout(function () {
      window.location.reload();
    }, 10000) // 60000
  </script>
</body>
</html>
