<html>
<head>
  <title>tmpnb</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>

  <div class="jumbotron">
    <div class="container text-center">
      <h1>No Vacancy</h1>
      <p>
        It looks like we're full up. Every single IPython Notebook is in use right now! Try again later
        and maybe you'll have better luck. Sorry for the inconvenience!
      </p>
      <p>
        If you hang around here for a while, you'll automatically retry in {{ cull_period }}
        seconds.
      </p>
    </div>
  </div>

  {% include "ga.html" %}

  <script type="text/javascript">
    // Try again in a minute.
    setTimeout(function () {
      window.location.reload();
  }, {{ cull_period * 1e3 }})
  </script>
</body>
</html>
