<html>
<head>
    <title>tmpnb</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/metricsgraphics.css">
</head>
<body>

    <div class="jumbotron">
        <div class="container text-center">
            <h1>Stats</h1>
            <div class="containers-used"></div>
        </div>
    </div>

    {% include "ga.html" %}
    
    <script type="text/javascript" src="static/fetch.min.js"></script>
    <script type="text/javascript" src="static/jquery.min.js"></script>
    <script type="text/javascript" src="static/d3.min.js"></script>
    <script type="text/javascript" src="static/metricsgraphics.js"></script>
    <script type="text/javascript">
        var open = [];
        var used = [];

        function fetchUpdate() {
            var d = new Date();
            fetch("/api/stats").then(function(response) {
                    return response.json();
            }).then(function(stats) {
                open.push({
                    "date": d,
                    "value": stats.available
                });
                used.push({
                    "date": d,
                    "value": stats.capacity - stats.available
                });

                MG.data_graphic({
                    title: "Container Stats",
                    description: "Number of available and used containers",
                    data: [open, used],
                    width: 800,
                    height: 400,
                    right: 40,
                    target: ".containers-used",
                    x_accessor: "date",
                    y_accessor: "value",
                    y_label: "Number of Containers",
                    aggregate_rollover: true,
                    interpolate: "basic",
                    area: true,
                    legend: ["Available", "Used"]
                });
            });
        }
        fetchUpdate();
        setInterval(fetchUpdate, 1000);
    </script>
</body>
</html>
